<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Professores</title>
</head>
<body>
	<h1>Professores Cadastrados</h1>
	<form th:action="@{/professores/cadastrar}" method="get">
		<button type="submit">Cadastrar</button>
	</form>

	<ul>
		<li th:each="professor : ${prof}">
		<span th:text="${professor.nome}"></span>
		<form th:action="@{/professores/editar/{id} (id=${professor.id})}" method="get">
                <button type="submit">Editar</button>
            </form>
		<form th:action="@{/professores/excluir/{id} (id=${professor.id})}" method="get">
                <button type="submit">Excluir</button>
            </form>
	</ul>
	<form th:action="@{/}" method="get">
		<button type="submit">Home</button>
	</form>
</body>
</html>
